# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignoring files - GitHub Docs
# https://docs.github.com/en/github/using-git/ignoring-files

# github/gitignore: A collection of useful .gitignore templates
https://github.com/github/gitignore

[Bb]in/
